*{
    font-family: "Inter", sans-serif;
}
body{
    background: url('assets/background.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto;
}
.content div {
    color: #D44D51;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
}
    .menu {
        display: flex;
        justify-content: space-around;
    }

    .menu li {
        list-style-type: none;
        font-size: 20px;
    }

    ul {
        color: #CD313E;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        display: flex; 
        gap: 30px;
    }

    a{
        display: inline-block; 
        text-decoration: none;
        color: #091133;
        border: 1px solid #091133;
        width: 189.131px; 
        height: 36px;    
        line-height: 36px; 
        text-align: center; 
        margin-left: 2rem;
    }

    button {
        width: 189.131px;
        height: 36px;
        flex-shrink: 0;
        background-color: #CD313E;
        color: #fff;
        border: none;
        box-shadow: 0 4px 2px 1px rgba(12, 12, 12, 0.3);
    }

.content {
    padding-top: 240px;
    padding-bottom: 440px;
    margin-bottom: 100px;
   
}

.content div {
    width: 540px;
    margin-left: 10px;
    padding: 2rem;
}

h1{
    color: #091133;
    font-weight: 400;
    line-height: 36px ;
}

footer {
    background-color: #F78282; 
    padding-top: 68px;
    display: flex; 
    justify-content: space-between;
}

ul li {
    list-style-type: none;
    font-size: 16px;
}

.yourcompany {
    color: white;
}