/* === Reset e base === */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* garante altura mínima */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

/* === Cabeçalho === */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  background-color: rgb(165, 184, 135);
  z-index: 1000;
}

/* === Menu === */
nav {
  position: fixed;
  top: 90px; /* altura do header */
  left: 0;
  width: 100%;
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background: white; /* evita que texto fique colado no fundo */
  z-index: 999;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem;
}
nav a:hover {
  color: rgb(52, 51, 51);
}

/* === Conteúdo === */
.conteudo {
  display: flex;
  width: 100%;
  margin-top: calc(90px + 60px); /* espaço do header + nav */
  margin-bottom: 60px; /* espaço do footer */
}

/* === Aside === */
aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: rgb(165, 184, 135);
  border-radius: 0 15px 15px 0;
  width: 20%;
}
aside > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

/* === Conteúdo principal === */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  width: 80%;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  text-align: justify;

}

/* === Rodapé === */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(165, 184, 135);
  color: white;
  text-align: center;
  font-size: 1rem;
  padding: 0.8rem;
}

@media (max-width:700px){
   .conteudo{
    display: flex;
    flex-direction: column
   }
   nav{
    gap: 1rem;
   }
   aside{
    width: 100%;
    border-radius: 0;
   }
   main{
    order: -1;
   }
   .main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    padding: 0;
   }
   .descricao-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    
   }

    };